.navbar-css {
    font-family: "Open Sans", sans-serif;
    min-height: 50px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.logo-nav {
    height: 80px;
}

a {
    text-decoration: none;
}

.link-style {
    text-decoration: none;
    color: black;
    font-size: 0.90rem;
    font-weight: 500;
}

.link-style:hover {
    color: rgb(75, 167, 75);
    transition: 0.6s;
}